
<div id="result" class="demo-card-wide mdl-card mdl-shadow--2dp">
  <ul ng-repeat="item in foundCtrl.items" class="demo-list-three mdl-list">
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">restaurant menu</i>
        <span>{{ item.name }} [{{ item.short_name }}]</span>
        <span class="mdl-list__item-sub-title">{{item.description}}</span>
      </span>
      <Button ng-click="foundCtrl.onRemove({index: $index});" class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Don't Want This</Button>
      </span>
    </li>
  </ul>

  <div ng-if="foundCtrl.isBeforeSearch()" class="message">Please input search term above and click NARROW IT DOWN FOR ME!</div>
  <div ng-if="foundCtrl.isNothingFound()" class="message">Nothing found.</div>

</div>
